@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --yellow_tint: #FEFEF2;
  --black: #000;
  --white: #fff;
}

[class *= "__container"] {
  width: 1200px;
  margin: 0 auto;
}

.wrapper {
  min-height: 100vh;
  background: var(--yellow_tint);
  font-family: "Inter", serif;
}